* {
  margin:0;
  padding:0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured-title {
  color: #22d4fd;
}

h1 {
  font-weight: bold;
}

span {

  color: #22d4fd;
  border: 1px solid #22d4fd;
  padding: 10px;

}