@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin:0;
  padding:0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
}

.presentation {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation__content {
  width: 615px;
  height: 482px;
}

.presentation__content__head1 {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.presentation__content__p {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.featured-title {
  color: #22d4fd;
}

.presentation__links {
  display: flex;
  justify-content: space-between;
}

.presentation__links__anchor {
  width: 280px;
  text-align: center;
  border-radius: 16px;
  background-color: #22d4fd;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding: 21.5px 0px;
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: bold;
}

span {

  color: #22d4fd;
  border: 1px solid #22d4fd;
  padding: 10px;

}