body {
  background-color: black;
  color: white;
}

.titulo-destaque {
  color: #22d4fd;
}

h1 {
  font-weight: bold;
}

span {

  color: #22d4fd;
  border: 1px solid #22d4fd;
  padding: 10px;

}