@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin:0;
  padding:0;
}

body {
  box-sizing: border-box;
  background-color: black;
  color: #f6f6f6;
}

.header {
  padding: 2% 0% 0% 15%;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link{
  color: #22d4fd;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

.presentation {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation__content {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;
}

.presentation__content__head1 {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.presentation__content__p {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.featured-title {
  color: #22d4fd;
}

.presentation__links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.contact__info {
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;

}

.presentation__links__anchor {
  display: flex;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  background-color: black;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  padding: 21.5px 0px;
  text-decoration: none;
  color: #f6f6f6;
  border: solid 2px #22d4fd;
  justify-content: center;
  gap: 16px;
}

.presentation__links__anchor:hover {
  background-color: #272727;
}

.presentation__image {
  display: flex;
  border-radius: 16px;
  width: 700px;
}

.footer {
  text-align: center;
  color: black;
  background-color: #22d4fd;
  padding: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

h1 {
  font-weight: bold;
}

span {

  color: #22d4fd;
  border: 1px solid #22d4fd;
  padding: 10px;

}