@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

:root {
  /* defining colors */
  --cor-principal: black;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #272727;
  /* defining fonts */
  --fonte-principal: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

.header {
  padding: 2% 0% 0% 15%;
}

.header__menu {
  display: flex;
  gap: 80px;
}

.header__menu__link {
  color: var(--cor-terciaria);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.presentation {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.presentation__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentation__content__head1 {
  font-size: 2.25rem;
  font-family: var(--fonte-principal);
}

.presentation__content__p {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.featured-title {
  color: var(--cor-terciaria);
}

.presentation__links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.contact__info {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: 1.5rem;
}

.presentation__links__anchor {
  display: flex;
  width: 75%;
  text-align: center;
  border-radius: 8px;
  background-color: var(--cor-principal);
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--fonte-secundaria);
  padding: 21.5px 0px;
  text-decoration: none;
  color: var(--cor-secundaria);
  border: solid 2px var(--cor-terciaria);
  justify-content: center;
  gap: 16px;
}

.presentation__links__anchor:hover {
  background-color: var(--cor-hover);
}

.presentation__image {
  display: flex;
  border-radius: 16px;
  width: 75%;
}

.footer {
  text-align: center;
  color: var(--cor-principal);
  background-color: var(--cor-terciaria);
  padding: 24px;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {

  .header {
    padding: 10%; 
  }

  .header__menu {
    justify-content: center;
  }

  .presentation {
    display: flex;
    flex-direction: column-reverse;
    ;
  }
} 